* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

/* SOLUTION */

.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.header{
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.header .logo{
  justify-self: flex-start;
}

.header,
.footer{
  grid-column: 1 / -1;
}

.sidebar{
  display: grid;
  gap: 50px;
  grid-row: 2 / 4;
}

.sidebar .photo,
.sidebar .side-content{
  display: grid;
  place-content: stretch;
  place-items: center;
}

.menu ul,
.nav ul{
  display: grid;
  grid-auto-flow: column;
  list-style: none;

  align-content: center;
}


.menu ul{
  height: 100%;
  align-content: stretch;
  align-items: center;
}

.nav{
  grid-column: 2;
}

.article{
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article .card{
  height: 200px;
}

.article p{
  padding: 8px;
}